label{
    color:black;
    margin-right: 120px;
    margin-left:50px;
    padding-top: 8px;
    font-size: 35px;
   
}
nav{
    background-color:white; 
    height: auto;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;

    /* gap: 50px; */
}
h1{
    font-size: 25px;
    margin-left: 120px;
}
nav ul{
    line-height: 50px;
    margin-top:none;
    display: flex;
    flex-direction: row;
    margin: 0 5px;
    justify-content: space-between ;
    align-content: center;
    margin-right: 120px;
    gap: 50px;
}
nav ul li{
    margin-top: 0%;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: red;
}
.contact{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: 0px;
    margin-left: 0px;
    gap: 20px;
    width: 220px;
    height: 100%;
    background: rgba(255 255 255/70%);
    padding: 10px;
    position: fixed;
}
.contact div{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 80px;
}
img{
    height: 40px;
    width: 40px;
}
body{
    background: rgb(83, 81, 81);
    margin: auto;
}
.button{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 25px;
}
button{
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 5px;
}
.list{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    /* gap: 1px; */
    /* position: relative; */
}
li{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: bold;
    /* border: 0.1px solid #ececec; */
    
    
   
}
ul{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 110px;
}
.list-1{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.list-2{
    display: flex;
    flex-direction: row;
    gap: 90px;
}
.list-3{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.list-4{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    color:white;
    /* font-weight: bold; */
    margin-left: 260px;
    
    border-radius: 10px;
}
.edit{
    color:greenyellow ;
}
.delete{
    color: red;
}
.publish{
    color: darkblue;
}
input{
    width: 70px;
}