
main{
    /* text-align: flex; */
    /* margin-left: 120px; */
    display: flex;
    align-items:  center;
    gap: 70px;
    /* justify-items: flex-start; */
    justify-content: space-between;

   
}
main img{
    /* margin-top: 200px; */
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
}
main img:hover{
    /* margin-top: 200px; */
    scale: 1.1;
    transition: 0.3s;
}
body{
    background: rgb(254, 254, 254);
    
    margin: 0;
}
main{
    margin: 100px auto 0;
    width: 70%;
    
}


.button{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 60px;
    padding-top: 70px;
    padding-bottom: 40px;
    max-width: 100%;
}
p{
    font-size: 18px;
    font-weight: normal;
}
h1{
    font-size: 30px;
}
.habihirwe{
    width: 70%;
    display: flex;
    gap: 70px;
}
.icons{
    display:flex;
    flex-direction:row;
    margin:auto;
    gap:60px;
}
.icons a{
    font-size:30px;
}
.icons a:hover{
    scale: 1.2;
    color: aliceblue;
    transition: 0.3s;
}
button{
    color: white;
    background: rgb(18, 18, 22);
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    
}
button:hover{
    scale: 1.2;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    transition: 0.3s;
 }
button a{
    font-size: 16px;
    color: rgb(255, 255, 255);
}
button:hover a{
    scale: 1.2;
    color: rgb(0, 0, 0);
    transition: 0.3s;
 }
 .olivier{
     border: 1px solid #fff;
     color: #000 !important;
     background: #fff;
     border-radius: 10px;
     padding: 10px 20px;
     width: 70%;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .olivier p{
    width: 100%;
}


@media only screen and (max-device-width:822px){
    
    .button{
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        gap: 30px;
        padding-top: 3px;
        padding-bottom: 40px;
    }
 
    
}
li a:is(:link,:active,:visited ).active{
    color:black;
    text-decoration:none;
    padding: .5rem 1.5rem;
    
}
a:is(:link,:active,:visited ).active{
    color: white;
    background-color: black;
}

@media only screen and (max-device-width:520px){
    main{
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        gap: 0px;
    }
    .button{
        display: flex;
        flex-direction: column-reverse;
    }
    .icons{
        margin-left: 0px;
        gap: 5px;

    }
    .habihirwe{
        margin-left: 0px;
    }
    #login{
        margin-left: 0%;
        width: 110px;
    }
    ul li:hover{
        color: blueviolet;
    }
}
@media only screen and (max-device-width:255px){
    img{
        width: 200px;
        height: 200px;
        margin-left: 0px;
    }
}
@media only screen and (max-device-width:320px){
    main img{
        margin-right: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
    .icons{
        margin-left: 40px;
        gap: 10px;
    }
}
@media only screen and (max-device-width:660px){
    main img{
        height: 150px;
        width: 150px;
        margin-right: 50px;
    }
    .icons{
        padding-left: 10px;
        gap: 10px;
    }

}
.olivier{
color: white;
font-family:Comic Sans MS;
}

    














