
.paragraph{
    display: flex;
    flex-direction: column ;
    margin-right: 200px;
    margin-top: 35px;
    font-size: 20px;
    color: black;
    
}
img{
    object-fit:cover;
    margin-top: 20px;
    border-radius: 100%;
    /* justify-content: left; */
    width: 400px;
    height: 400px;
    display:flex
    
    
}
.paragraph-1{
    border: 0.1px solid #ececec;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    
}
img:hover{
    
        scale: 1.2;
        color: aliceblue;
        transition: 0.3s;
    }



button{
    box-sizing: border-box;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    font-weight: bold;
    background: black;
}
button a{
    color: white;
    font-size: large;
    
}
.start{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    
}
body{
    background: rgb(254, 254, 254);
    margin: auto;
}
h1{
    color: white;
   
}
@media only screen and (max-device-width:830px){
    .start{
        flex-direction: column;
        /* justify-content: space-around; */
        /* justify-content: center; */
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-top: 10px;
    }
    h1{
        margin: 0px;
    }
    button{
        /* margin-left: auto; */
        width: 200px;
        color: white;
    }
    .paragraph{
        margin-right: 0px;
    }
    /* button a{
        color: white;
    } */
}
@media only screen and (max-device-width:775px){
    /* nav{
        display: flex;
        position:relative;

    }
    nav ul{
        margin-top:0;
        flex-direction: column;
        gap: 10px;
        position:absolute;
        top: 48px;
        right: 20px;
        background:rgba(255 255 255/50%);
        
    }
    #pj img{
        display: block;
    }
    #pj {
        margin-left: auto;
        margin-right: 20px;
    }
    nav ul{
        display: none;
    } */
    
    
}
@media only screen and (max-device-width:300px){
    .heading img{
        width: 200px;
        height: 200px;
    }
}