
body{
   background: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 120px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.head{
    /* margin-left: 60px; */
    margin-left: 50px;
    padding: 10px;
    color:black;
}
form{
    margin-left: 10px;
}
p{
    margin-left: 60px;
    color: black;
}
p a{
    color: darkred;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
input{
    width: 300px;
    margin: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding: 10px;
}
.name{
    font-size: 20px;
}
.password{
    font-size: 20px;
}
.email{
    font-size: 20px;
}
button{
    width: 80px;
    margin-left: 310px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background: black;
}
button a{
    color: white;
    font-weight: bold;

    
}
form label{
    color: black;
}
main p a{
    color: black;
}
.main{
    align-items: center;
}
label{
    /* margin-top: 15px; */
}
#pj img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    display: none;
}
.open{
    display: block;
}
@media only screen and (max-device-width:780px){
   
    

}
@media only screen and (max-device-width:665px){
    main{
        margin-left: 20px;
        margin-top: 20px;
    }
}
@media only screen and (max-device-width:555px){
    div {
        display: flex;
        flex-direction: column;
    }
    button{
        margin-left: 100px
    }
    main{
        margin-left: 5px;
        margin-top: 20px;
        
    }
    
}